.footer {
  width: auto;
  height: 10%;
  box-sizing: border-box;
  padding: 1rem;
  display: block;
  float: none;
  line-height: 24px;
  position: static;
  z-index: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  color: #ffff;
}
